h1 {
  text-align: center;
}
h2 {
}
.first {
  margin: 50px 0px;
  text-align: center;
}
#search-input {
  padding-right: 200px;
}

.weather-app {
  margin: 30px auto;
}

.active {
  color: black;
  cursor: default;
  text-decoration: none;
}
.active:hover {
  color: black;
}
.footer1 {
  margin: 10px;
  margin-top: 25px;
  text-align: center;
}
.footer2 {
  text-align: center;
}
