h1 {
  text-align: center;
  margin-bottom: -40px;
  margin-top: -15px;
}
h2 {
  margin-left: 170px;
}
.pibugirl {
  margin-top: 10px;
}
.pibuboy {
  margin-top: 10px;
}
.first {
  margin: 50px 0px;
  text-align: center;
}
#search-input {
  padding-right: 200px;
}

.weather-app {
  margin: 40px auto;
  padding: 20px;
  border: 1px solid;
  border-radius: 10px;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  box-shadow: 5px 5px 10px 3px rgb(184, 178, 178);
}
.pibuUp {
  display: block;
  margin-left: 450px;
  margin-bottom: 0px;
}
.second {
  margin-left: 170px;
  font-size: 20px;
}
.third {
  margin-left: 170px;
  font-size: 20px;
}
.active {
  color: black;
  cursor: default;
  text-decoration: none;
}
.active:hover {
  color: black;
}
.pibu {
  margin-left: 50px;
  margin-bottom: 30px;
}
.footer1 {
  margin: 10px;
  margin-top: 25px;
  text-align: center;
}
.footer2 {
  text-align: center;
}
.weatherForecastPreview {
  text-align: center;
}

#icon {
  margin-left: 600px;
  margin-top: -230px;
  width: 140px;
}
