h1 {
  text-align: center;
  margin-bottom: -10px;
  margin-top: 30px;
}
h2 {
  margin-left: 170px;
}
.pibugirl {
  margin-top: 10px;
}
.pibuboy {
  margin-top: 10px;
}
.first {
  margin: 50px 0px;
  text-align: center;
}
#search-input {
  padding-right: 200px;
}

.weather-app {
  margin: 40px auto;
  padding: 20px;
  border: 1px solid;
  border-radius: 10px;
  background-color: #f7f6f3;
}
.backgroundtwo {
  background-color: blue;
}
.second {
  margin-left: 170px;
  font-size: 20px;
}
.third {
  margin-left: 170px;
  font-size: 20px;
}
.active {
  color: black;
  cursor: default;
  text-decoration: none;
}
.active:hover {
  color: black;
}
.pibu {
  margin-right: 10px;
  margin-bottom: 30px;
}
.footer1 {
  margin: 10px;
  margin-top: 25px;
  text-align: center;
}
.footer2 {
  text-align: center;
}
.weatherForecastPreview {
  text-align: center;
}
